body {
    background: radial-gradient(circle, antiquewhite, lightgray);
}

div {
    border: hotpink;
    border-style: dashed;
}

a {
    text-decoration: none;
    color: black;
}

h3 {
    font-size: 1.3em;
}

header {
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, lightgray, darkslategray);
    border-radius: 2vh;
}

#container_of_header_photo {
    display: flex;
    justify-content: center;
    position: relative;
    left: -25%;
    border-radius: 2vw;
    overflow: hidden;
    width: 20.68%;
    height: auto;
}

#container_of_header_description {
    position: relative;
    right:10vw;
}

#name {
    position: relative;
    font-size: 4em;
    left: 1vw;
}

#position {
    position: relative;
    left: 4vw;
    font-size: 2em;
}

#contact_information {
    position: relative;

    color: darkslategray;
}

.name_of_section {
    display: flex;
    align-items: center;
    font-size: 2em;
    padding-left: 3vh;
    color: white;
}

#aboutme, #portfolio, #social_networks {
    background: radial-gradient(circle, whitesmoke, black);
    border-radius: 2vh;
    padding: 1%;
}

#summary, #employment, #education, #tech_documentation, #website, #team_challenge {
    background: radial-gradient(circle, dimgray, darkslategray);
    border-radius: 2vh;
    color: white;
    padding: 2vh;
    margin: 2vh;
}

#last_position, #previous_position, #university, #qa_courses {
    padding-block: 2vh;
}

/*nav {
    position: sticky;
    top: 0;
    z-index: 100;

}*/

nav ul {
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    background: radial-gradient(circle, darkslategray, black);
    width: 20%;
    border-radius: 2vh;
    text-align: center;
}

nav ul li a{
    color: whitesmoke;
}

#skills_languages {
    display: flex;
    justify-content: space-evenly;
}

#skills, #languages {
    position: relative;
    background: radial-gradient(circle, darkslategray, black);
    border-radius: 2vh;
    color: white;
}

#languages {
    width: 19%;
}

#portfolio {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#social_networks a {
    color: black;
    font-size: 3em;
}

#social_links {
    display: flex;
    justify-content: space-evenly;
    height: 20vh;
}

#github, #linkedin, #telegram {
    background: radial-gradient(circle, whitesmoke, lightgray);
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    background: darkslategray;
}

.container {
    position: relative;
    left: 45vw;
    color: white;
}

.button_up {
    position: relative;
    background: white;
    right: 3%;
}