body {
    background: darkslategrey;
    margin: 0;
    padding: 0;
}

/*img {
    border: hotpink;
    border-style: dashed;
}*/

a {
    text-decoration: none;
    color: black;
}

h3 {
    font-size: 1.3em;
}

h2 {
    display: flex;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    background: linear-gradient(to top, whitesmoke, darkslategrey);
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    box-shadow: 0 0 2vh black;
}

#container_of_header_photo {
    display: flex;
    justify-content: center;
    position: relative;
    left: -25%;
    width: 20.68%;
    height: auto;
}

#container_of_header_description {
    position: relative;
    right:10vw;
    font-size: 1.1em;
}

#name {
    position: relative;
    font-size: 4em;
    left: 1vw;
}

#position {
    position: relative;
    left: 4vw;
    font-size: 2em;
}

.name_of_section {
    display: flex;
    justify-content: center;
    background: radial-gradient(circle, whitesmoke, lightgray);
    border-radius: 2vh;
    height: 10vh;
    margin: 1vw;
    font-size: 2em;
    box-shadow: 0 0 2vh black;
}

#about_me, #portfolio, #social_networks{
    border-radius: 2vh;
    padding: 1%;
}

#summary, #employment, #education, #tech_documentation, #website, #team_challenge {
    background: radial-gradient(circle, whitesmoke, lightgray);
    border-radius: 2vh;
    padding: 2vh;
    margin: 2vh;
}

#last_position, #previous_position, #university, #qa_courses {
    padding-block: 2vh;
}

/*nav {
    position: sticky;
    top: 0;
    z-index: 100;

}*/

nav ul {
    display: flex;
    justify-content: space-around;
    font-size: 2em;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    background: radial-gradient(circle, whitesmoke, lightgray);
    width: 20%;
    border-radius: 2vh;
    text-align: center;
    box-shadow: 0 0 2vh black;
}


#skills_languages {
    display: flex;
    justify-content: space-evenly;
}

#name_skill, #name_lang {
    width: 45vw;
}

#list_of_languages, #list_of_skills {
    display: flex;
    align-items: center;
    position: relative;
    left: 13.5vw;
    background: radial-gradient(circle, whitesmoke, lightgray);
    border-radius: 2vh;
    width: 20vw;
    height: 20vh;
}

#portfolio {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
#portfolio a {
    position: relative;
    top: 2vh;
    font-family: "JetBrains Mono SemiBold", cursive;
}

#tech_documentation img, #website img {
    position: relative;
    top: 5vh;
    left: 1vw;
}

#social_networks a {
    color: black;
    font-size: 3em;
}

#social_links {
    display: flex;
    justify-content: space-evenly;
    height: 20vh;
    position: relative;
    bottom: 2vh;
    border-radius: 2vh;
    background: darkslategray;
    margin: 2vw;
}

#github, #linkedin, #telegram {
    background: radial-gradient(circle, whitesmoke, lightgray);
    border-radius: 2vh;
    height: 15vh;
    position: relative;
    top: 2.5vh;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
    background: linear-gradient(to top, darkslategrey , whitesmoke);
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    box-shadow: 0 0 2vh black;
}

#copyright {
    position: relative;
    left: 45vw;
    bottom: 1.5vh;
    font-size: 1.2em;
}

.button_up {
    position: relative;
    background: radial-gradient(circle, darkslategrey 40%, black);
    right: 3vw;
    bottom: 1.5vh;
    padding: 1%;
    border-radius: 2vh;
    font-family: "JetBrains Mono SemiBold", cursive;
}

.button_up a {
    color: whitesmoke;
}

#github a, #linkedin a, #telegram a {
    display: flex;
    justify-content: center;
    width: 20vw;
}

#github img, #linkedin img, #telegram img {
    position: relative;
    bottom: 2vh;
    left: 7vw;
}